.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}
body{
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

.Online {
  position: fixed;
  left: 1vw;
  top:5vh;
  color: greenyellow;
  font-size: 14px;
}

form{
  background: #222;
  padding: 5px;
  position: fixed;
  bottom: 0.1vh;
  width: 100%;
}

.Offline{
  position: fixed;
  left: 1vw;
  top:5vh;
  color: red;
  font-size: 14px;
}

.App-header {
  background-color: #222;
  height: 5vh;
  width: 100vw;
  padding: 20px;
  color: red;
}

.message{
  overflow-x: wrap;
  width: 50vw;
  margin: 0 auto;
}


.message_input{
  border-radius: 4px;
  width: 60%;
  height: 5vh;
  left: 10vw;
  position: relative;
  background-color: lightblue;
}
.userNameLabel {
  color:gold;
}

.ChatUsername {
  color:gold;
}

.userNameContainer{
  position:fixed;
  bottom: 2vh;
  z-index: 1;
}

.userNameInput{
  background-color: lightblue;
  border-radius: 4px;
  width: 10vw;
}
.messagesContainer{
  margin-top: 5vh;
}
/* .userNameInput{
  position: fixed;
  bottom: 0px;
} */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}