.App {
  text-align: center;
}

.Online {
  float: left;
  color: greenyellow;
  font-size: 14px;
}

.Offline{
  float: left;
  color: red;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vh;
}

.App-header {
  background-color: #222;
  height: 20vh;
  padding: 20px;
  color: red;
}

.heart {
  font-size: 32px;
  color: red;
}
.spin{
  /* animation: App-logo-spin infinite 5s linear; */
}

.name {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}